body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

#quote-box {
  text-align: center;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #007BFF;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#text {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}

#author {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: right;
}

#new-quote, #most-liked, #filter-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  margin: 5px;
}

#filter-author {
  padding: 10px;
  border-radius: 4px;
}
